<html>
    <head>
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" href="../public/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <h1 style="text-align:center">LOGIN</h1>
        <form id="loginForm" autocomplete="off" method="POST" action="/login">
        <label for="name">UserName</label><br><br>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Actually Log In">
        </form>
    </body>
</html>