<html>

<head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="../public/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="container">
        <h1 style="text-align:center;margin-top:20px;">TKG</h1>
        <div id="login-box">
            <h3 style="text-align:center;margin-top:20px;">Make A new Account</h3>

            <form id="loginForm" autocomplete="off" method="POST" action="/login">
                
            </form>

        </div>
    </div>

</body>

</html>