<html>

<head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
    <script src="../public/javascripts/signup.js"></script>
    <link type="text/css" rel="stylesheet" href="../public/css/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body onload="javascript:onStart();updateForm();" ng-app="dash">
    <div id="container" ng-controller="ngContent">
        <h1 style="text-align:center;margin-top:20px;">TKG</h1>
            <div style="display: none;" id="predictionData"></div>
        <div id="login-box">
            <div class="row align-items-center">
                <a class="col-3 text-center pt-3" style="text-decoration: none;" href="\login"><button class="btn btn-light"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a>
                <h3 class="col" style="text-align:center;margin-top:20px;">Make A new Account</h3>
            </div>
            
            <label style="text-align:center;" for="acc-type">Select Type Of Account</label>
            <select onchange="selectOpt(this)" class="form-control" id="acc-type">
            {{!-- <option>Admin</option> --}}
            <option>Service Provider</option>
            <option>User</option>
            </select>

            <div class="vertSep"></div>
            <div id="FormGroup">
                {{!-- <form oninput='apass2.setCustomValidity(apass2.value != apass.value ? "Passwords do not match." : "")' novalidate class="forms needs-validation" id="adminForm" autocomplete="off" method="POST" action="/signup">
                      <input type="hidden" name="acc_type" value="0"/>
                        <label style="text-align:center;" for="acc-type">New Admin Details</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input required type="text" id="aname" class="form-control" placeholder="Admin Name" aria-label="Name" aria-describedby="basic-addon1" name="aname">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Role</span>
                </div>
                <input list="roles" type="text" id="arole" class="form-control" placeholder="Role" aria-label="Role" aria-describedby="basic-addon1" name="arole">
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">E-mail</span>
                </div>
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="text" id="amail" class="form-control" placeholder="E-Mail" aria-label="email" aria-describedby="basic-addon1" name="amail">
                <div class="invalid-feedback">Email should be Empty OR user@site.domain</div>
                </div>


                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                    <input required pattern=".{4,}" required name="apass" type="password" class="form-control" id="apass" placeholder="Enter password">
                    <div class="invalid-feedback">Password length atleast 4</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Retype Password</span>
                </div>
                    <input required name="apass2" type="password" class="form-control" id="apass2" placeholder="Enter above password">
                    <div class="invalid-feedback">Password do not match</div>
                </div>


                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>

                </form> --}}

                <form oninput='spass2.setCustomValidity(spass2.value != spass.value ? "Passwords do not match." : "")' novalidate class="forms" id="ProviderForm" autocomplete="off" method="POST" action="/signup">
                        <input type="hidden" name="acc_type" value="1"/>
                        <label style="text-align:center;" for="acc-type">New Service Provider Details</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input required type="text" id="sname" class="form-control" placeholder="Service Provider Name" aria-label="Name" aria-describedby="basic-addon1" name="sname">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                    <input required pattern=".{4,}" name="spass" type="password" class="form-control" id="spass" placeholder="Enter password">
                    <div class="invalid-feedback">Password length atleast 4</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Retype Password</span>
                </div>
                    <input name="spass2" type="password" class="form-control" id="spass2" placeholder="Enter above password">
                    <div class="invalid-feedback">Password do not match</div>
                </div>

                <label style="text-align:center;" for="acc-type">Select Domain</label>
                    
                <select onchange="selectProvider(this)" name="providerType" class="form-control" id="provider-type">
                <option>hotel</option>
                <option>restaurant</option>
                <option>airline</option>
                <option>taxi provider</option>
                <option>bus provider</option>
                <option>train provider</option>
                <option>guide provider</option>
                </select>


                <div id="wifihid" class="custom-control custom-checkbox">
                    <input name="wifi" type="checkbox" class="custom-control-input" id="wifi">
                    <label class="custom-control-label" for="wifi">Wifi Available</label>
                </div>


                <div id="delhid" class="custom-control custom-checkbox">
                    <input name="delivery" type="checkbox" class="custom-control-input" id="deliver">
                    <label class="custom-control-label" for="deliver">Home Delivery Available</label>
                </div>

                <div id="cuisine" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cuisine</span>
                </div>
                <textarea name="cuisine" id="cuisineText" class="form-control" aria-label="Cuisine"></textarea>
                </div>

                <div id="slochid" >

                <div class="input-group smarg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Locality</span>
                </div>
                <textarea required id="slocality" name="slocality" class="form-control" aria-label="slocality"></textarea>
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Location(City)</span>
                </div>
                <input list="locs" required type="text" id="scity" class="form-control" placeholder="Enter City Name" name="scity">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">State</span>
                </div>
                <input type="text" id="sstate" class="form-control" placeholder="Enter State" name="sstate">
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Pin Code</span>
                </div>
                <input required type="number" id="spin" class="form-control" placeholder="Enter PIN code" name="spin">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                </div>


                <br>
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>

                </form>
                <form oninput='upass2.setCustomValidity(upass2.value != upass.value ? "Passwords do not match." : "")' novalidate class="forms needs-validation" id="UserForm" autocomplete="off" method="POST" action="/signup">
                <input type="hidden" name="acc_type" value="2"/>
                <label style="text-align:center;" for="acc-type">New User Details</label>
                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="uname1">Name</span>
                </div>
                <input required type="text" id="uname" class="form-control" placeholder="Type Your Name" aria-label="Name" aria-describedby="basic-addon1" name="uname">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">E-mail</span>
                </div>
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="text" id="umail" class="form-control" placeholder="E-Mail" aria-label="umail" aria-describedby="basic-addon1" name="umail">
                <div class="invalid-feedback">Email should be Empty OR user@site.domain</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Contact No.</span>
                </div>
            <input required pattern="([0-9]{10})|([0-9]{12})" type="text" id="utel" class="form-control" placeholder="Enter Phone number" name="utel">
                <div class="invalid-feedback">Phone no. should be 10 or 12 digits only</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                    <input required pattern=".{4,}" name="upass" type="password" class="form-control" id="upass" placeholder="Enter password">
                    <div class="invalid-feedback">Password length atleast 4</div>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Retype Password</span>
                </div>
                    <input name="upass2" type="password" class="form-control" id="upass2" placeholder="Enter above password">
                    <div class="invalid-feedback">Password do not match</div>
                </div>

                <div class="input-group smarg">
                <div class="input-group-prepend">
                    <span class="input-group-text">Address</span>
                </div>
                <textarea id="uadd" name="uadd" class="form-control" aria-label="Address"></textarea>
                </div>

                <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Location(City)</span>
                </div>
                <input list="locs" required type="text" id="ucity" class="form-control" placeholder="Enter City Name" name="ucity">
                <div class="invalid-feedback">Cannot be empty</div>
                </div>

                <br>
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>

                </form>
            </div>
        </div>
    </div>

</body>

</html>