<html>
    <head>
        <title>{{title}}</title>
        <script src="../public/javascripts/userDash.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
      <div class="navbar navbar-default fixed-top">
        <div class='n-item'>User Dashboard</div>
        <div class='n-item'>Welcome {{name}}</div>
        <a href="/logout"><button class='btn btn-outline-primary'>Logout</button></a>
      </div>
    <div class="container">
      <nav class="l_bar" align="center">
        <div id="togs">
          <div  class="i_bar" id="act">
          <a class="a_bar" href="javascript:bs(0)">Booking Status</a>
          </div>
          <div class="rightDivider"><a class="a_bar"> </a></div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(1)">Transports</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(2)">Hotels</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(3)">Restaurants</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(4)">Guides/Tourist Spots</a>
          </div>
        </div>
      </nav>
      <div id="content">
        Content Goes Here And Updated on switching tab
      </div>
    </div>
    </body>

</html>