<html>
    <head>
        <title>{{title}}</title>
        <script src="../public/javascripts/userDash.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body onload="javascript:onStart()">
      <div class="navbar navbar-default fixed-top">
        <div class='n-item'>User Dashboard</div>
        <div class='n-item'>Welcome {{name}}</div>
        <a href="/logout"><button class='btn btn-outline-primary'>Logout</button></a>
      </div>
    <div class="container">
      <nav class="l_bar" align="center">
        <div id="togs">
          <div  class="i_bar" id="act">
          <a class="a_bar" href="javascript:bs(0)">Booking Status</a>
          </div>
          <div class="rightDivider"><a class="a_bar"> </a></div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(1)">Transports</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(2)">Hotels</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(3)">Restaurants</a>
          </div>
          <div  class="i_bar">
          <a class="a_bar" href="javascript:bs(4)">Guides/Tourist Spots</a>
          </div>
        </div>
      </nav>


      <div id="content" class="shadow p-4 mb-4 bg-white">
        {{!-- <label id="content_label"></label> --}}
      
        <div id="content_tab0">

        </div>

        <div id="content_tab1">
          
        </div>

        <div id="content_tab2">
          

        </div>

        <div id="content_tab3">
          
            <h2>Available Filters</h2>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Food Item Name</span>
              </div>
              <input id="fname" type="text" class="form-control" placeholder="Name">
              <div class="input-group-prepend">
              <span class="input-group-text">Restaurant Name</span>
              </div>
              <input id="rname" type="text" class="form-control" placeholder="Restaurant">
              <div class="input-group-prepend">
                <label class="input-group-text">Delivery</label>
              </div>
                <select class="custom-select" id="fdelivery">
                  <option selected value="0">Both</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              <button onclick="javascript:fillContent()" class='btn btn-outline-primary'>Apply Filters</button>
            </div>

            {{!-- Filters End --}}
          
          <div id="table2" class="rowsCont card-rows">
          </div>

        </div>

        <div id="content_tab4">
          
        </div>

      </div>

    </div>
    </body>

</html>