#mainC{
  margin: 20px;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 20px;
}
th,td{
  width: 100px;
}
th:last-child,td:last-child{
  width: 200px;
  text-align: center;
}
h6{
  margin: 30px;
}
button{
  margin: 20px;
}