#mainC{
  margin: 20px;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 20px;
  font-size:1em !important;
}
th,td{
  width: 100px;
}
th:last-child,td:last-child{
  width: 200px;
  text-align: center;
}
h6{
  margin: 30px;
}
button{
  margin: 20px;
}
.flex1{
  flex:1;
}
.input-group-prepend {
  width : 250px; /*adjust as needed*/
  margin-bottom: 5px;
}

/* .input-group-prepend label {
  width: 100%;
  overflow: hidden;
} */
label{
  margin: 10px;
}
.editCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}