.splitBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.trip-list{
  padding:20px;
}
#side-content{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.input-group{
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-group{
  cursor: pointer;
  height: 350px;
  overflow-y: scroll;
} 
.list-group::-webkit-scrollbar {
  display: none;
} 
.list-group {
  -ms-overflow-style: none;
}
/* .datesVis{
  display: none;
}
.datesVis:hover{
  display: block;
} */
#planBody{
  width: 100%;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px; /* New width for default modal */
  }
  .modal-sm {
    width: 350px; /* New width for small modal */
  }
}
@media screen and (min-width: 992px) {
  .modal-lg {
    width: 950px; /* New width for large modal */
  }
}
.steps{
  text-decoration: none;
  background-color: red;
}
.modal-body::-webkit-scrollbar{
  width: 10px;
  background: #BBB;
}
.modal-body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
}
.modal-body::-webkit-scrollbar-thumb{
  background: #7fb5a4;
}
.list-group::-webkit-scrollbar{
  width: 10px;
  background: #BBB;
}
.list-group::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
}
.list-group::-webkit-scrollbar-thumb{
  background: #7fb5a4;
}
.toast{
  z-index: 2000;
}
.modal{
  z-index: 4;
}
#sidebar{
  z-index: 1000;
  /* overflow-y: scroll; */
}
#chatCard{
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 400px;
  height: 450px;
  background-color: white;
  z-index: 10000;
  box-shadow: 0 0 5px #000000;
}
#chatArea{
  box-shadow: inset 0 0 5px #000000;
  overflow-y: scroll;
}
/* #chatArea::-webkit-scrollbar {
  display: none;
} 
#chatArea {
  -ms-overflow-style: none;
} */